<h3>Review Submission</h3>

<%= form_for @undetermined, url: user_submission_path do |f| %>

  <%= image_tag @undetermined.photo(:medium) %>

  <div id="date">
    <% f.label :date %><br>
    <% f.text_field :date %>
  </div>

  <div id="status">
    <% f.label :status %><br>
    <%= f.select(:status, Submission.statuses.keys) %>
  </div>

  <div id="description">
    <%= f.label :description %><br>
    <%= f.label :description, @undetermined.description %>
  </div>

  <div id="location">
    <%= f.label :location %><br>
    <%= f.label :location, @undetermined.location %>
  </div>

  <div id="response">
    <%= f.label :response %><br>
    <%= f.text_area :response %>
  </div>

  <%= f.submit 'Submit' %>

<% end %> 

<%= link_to 'Home', '/' %>