<!DOCTYPE html>
<html>
  <head>
    <title>Helix</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui fixed menu inverted">
      <div class="item">
        <a href="/" class="brand">
          <img src="<%= image_url('helix.png') %>" alt="">
          <span class="brand-name">Helix</span>
        </a>
      </div>
      <div class="item">
        <a href="/">
          Fossils
        </a>
      </div>
      <div class="item">
        <a href="/?type=not_fossil">
          Non-Fossils
        </a>
      </div>

      <% if current_user && current_user.is_admin %>
        <div class="item">
          <a href="/?type=undetermined">
            Undetermined
          </a>
        </div>
      <% end %>

      <div class="right menu">
          <% if user_signed_in? %>
            <div class="item">
              <%= link_to 'Logout', logout_path, method: :delete %>
            </div>
          <% else %>
            <div class="item">
              <%= link_to 'Login', login_path %>
            </div>
            <div class="item">
              <%= link_to 'Signup', signup_path %>
            </div>
          <% end %>
      </div>
    </div>

    <div class="ui sixteen column grid">
      <%= yield %>
    </div>

  </body>
</html>
